<nz-table #usersTable
          [nzData]="users"
          [nzScroll]="{x: '100px'}">
  <thead>
  <tr>
    <th *ngFor="let column of listOfColumns">
      {{ column.title }}
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of usersTable.data">
    <tr>
      <td
        [nzExpand]="expandSet.has(data.id)"
        (nzExpandChange)="onExpandChange(data.id, $event)"
      ></td>
      <td>{{ data.id }}</td>
      <td>{{ data.username }}</td>
      <td>{{ data.roles.join(', ') }}</td>
      <td>{{ data.blocked }}</td>
      <td>{{ data.password }}</td>
    </tr>
    <tr [nzExpand]="expandSet.has(data.id)">
      <td *ngIf="!data.blocked">
        <button nz-button
                nzType="primary"
                nzDanger="true"
                (click)="changeUserStatus(data, true)"
        >Block User</button>
      </td>
      <td *ngIf="data.blocked">
        <button nz-button
                nzType="primary"
                (click)="changeUserStatus(data, false)"
        >Unblock User</button>
      </td>
      <td></td>
      <td>
        <button nz-button
                (click)="showChangeRolesModal(data)"
        >Change Roles</button>
      </td>
    </tr>
  </ng-container>

  </tbody>
</nz-table>
