<nz-layout class="layout">
  <nz-content nz-flex [nzAlign]="'center'" [nzJustify]="'center'">
    <form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="register-form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Password require at least one letter and one digit!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Repeat your password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="repeatPassword" placeholder="Repeat Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button
        nz-button
        [nzType]="'primary'"
        class="register-button"
      >Register</button>
    </form>
  </nz-content>
</nz-layout>
