<nz-layout class="layout">
  <nz-typography nz-flex class="form-title" [nzJustify]="'center'">Change your password</nz-typography>
  <nz-content nz-flex [nzAlign]="'center'" [nzJustify]="'center'">
    <form nz-form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" class="change-password-form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Password require at least one letter and one digit!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Repeat your password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="repeatPassword" placeholder="Repeat Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button
        nz-button
        [nzType]="'primary'"
        class="submit-button"
      >Change Password</button>
    </form>
  </nz-content>
</nz-layout>
