.submit-button {
  width: 100%;
}

.layout {
  height: 80vh;
  background-color: inherit;
}

.change-password-form {
  min-width: 30vh;
}

.form-title {
  font-size: large;
  font-weight: bold;
  margin-bottom: 20px;
}
